// COLORS
$primary-color:#b9b3db;
$secondary-color: #d8daee;

$white-color: #fff;
$dark-background: #06071e ;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
